body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #1c1c1c;
}

a {
    color: #ef4928;
}

.header__button {
    padding: 0.5em 1em;
    background-color: #ef4928;
    border-radius: 3px;
    text-decoration: none;
    color: #ffffff;
    margin-right: 1rem;
}

.header__title {
    margin: 4px 0 0 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.login__body {
    background: transparent;
    min-height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
}

.login__wrap {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.login-form__wrap {
    min-height: 0;
    min-width: 0;
    margin: auto;
    flex-direction: column;
    display: flex;
}

.login__form {
    flex-direction: column;
    display: flex;
    background-color: #1c1c1c;
    border: 1px solid #1c1c1c;
    color: #ffffff;
    border-radius: 3px;
}

.login__header {
    margin: 1rem 1rem 0 1rem;
}

.login__desc {
    font-size: 0.9rem;
    margin: 0 1rem 1rem 1rem;
}

.login__title {
    margin: 1rem;
    display: none;
}

.login__input {
    margin: 0 1rem 1rem 1rem;
    padding: 0.8rem 1rem 0.8rem .5rem;
}

.login__button {
    color: #fff;
    background-color: #ef4928;
    border: 1px solid #ef4928;
    border-radius: 3px;
    padding: 10px 20px 9px 20px;
    margin: 0 1rem 1rem 1rem;
    width: 310px;
    cursor: pointer;
}

.login__copy {
    margin: 0.7em 1em 0 1em;
}

.login-form__copy {
    margin: 0.7em 1em 1em 1em;
}

.header__login {
    padding: 1em;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
}

.footer__login {
    margin: 1em;
    text-align: center;
}

.display__wrap {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    align-items: first baseline;
}
.left-display__wrap {
    width: 300px;
}
.display__item {
    text-align: left;
    padding: 10px;
}
.center-display__wrap {
    width: 440px;
}
.center-display__item {
    padding: 10px;
}
.right-display__wrap {
    width: 300px;
}
